{% extends "base.html" %}

{% block content %}
	<div class="about " style="margin-left: 50px; margin-right: 50px;"> 
	    <h1> About </h1>
	    <h3> The App </h3>
	    <p>  Built using Python and FLask, Connect21 is a web-based application to help connect those in the Down Syndrome Community. Users can create accounts, post to forums, and connect with others about topics that interest them. Popular forums include sports, tv shows, and more! </p>
	    <img src="{{url_for('static', filename='born-this-way.jpg')}}" alt="Young Adults with Down Syndrome" height="250" width="480" style="margin-left: 250px">
	    <hr> 
	    <h3> The Project </h3>
	    <p> Developed as a Keystone Project for the Kilachand Honors College at Boston University, Normandie Essig wanted to create a site to connect those in the Down Syndrome. Inspired by her sister who has Down Syndrome, Normandie researched what resources do exist for young adults, what their daily lives look like, the major safety concerns, and the effect of social technologies, such as Facebook, Twitter, and Reddit, to foster connections. From there, I created a web based application, named Connect21, that will act as a forum for users to connect with others through discussions around shared interests.
	    <hr> 
	    <h3> The Developer </h3>
	    
	    <table>
	        <tr> 
	            <td style="padding:20px;"> 
	                <img src="{{url_for('static', filename='norm.jpg')}}" alt="Normandie Essig" height="200" width="150">
	            </td>
	            <td> 
	                <p> Normandie Essig is a senior studying Computer Science at Boston University. While at BU, Normandie is the President and captain of the Women's Squash Team, a member of Gamma Phi Beta sorority, a member of Upsilon Pi Epsilon Honor Society, and involved with Hillel. From Washington, D.C., she loves playing squash, reading, and finding new ramen spots! </p>
	            </td> 
	        </tr>
	    </table>
    </div>
{% endblock %}